/* apply styles to <header> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* create variables to make changing colors easier */
:root {
  --primary-color: rgb(1, 10, 51);
  --secondary-color: rgb(39, 180, 223);
  --tertiary-color: rgb(241, 241, 207);
}

header {
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 35px;
  background-color: #00090a;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
}


header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  color: var(--secondary-color);
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-decoration: underline;
}


header nav ul li a:hover {
  background: var(--secondary-color);
  color: var(--tertiary-color);
  border-radius: 15px;
  text-shadow: none;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--secondary-color);
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* Hero Style Start */
.hero {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
}

.hero-subtitle {
  margin: 3.5%;
  color: var(--secondary-color);
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.hero-subtitle p {
  color: var(--secondary-color);
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end; 
}

/* Hero Style End */

body {
    color: var(--primary-color);
    background-color: whitesmoke;
    font-family: Helvetica, Arial, sans-serif;
  }


  section {
    padding: 60px;
  }


  .hero-form h3 {
    font-size: 24px;
    margin: 0;
  }

  .about-me {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .section-title {
    font-size: 70px;
    color: var(--primary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: left;
    margin: 0 auto 35px auto;
    width: 10%;
  }
  
  .intro-about-me h3 {
    color: var(--primary-color)
    font-size: 70px;
    flex: 1 40%
  }
  
  .about-text p {
    color: var(--primary-color);
    font-size: 18px;
  }

  .about-img {
    flex:  30%;
    margin-right: 20px;
  }

  .about-img img {
    max-width: 40%;
  }

  .about-text {
    flex: 20;
  }

  .about-info {
    flex: 2 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .about-text h3 {
    font-size: 40px;
    line-height: 1.5;
    color:var(--primary-color);
  }

  .primary-border {
    color: var(--secondary-color);
  }
  
  .secondary-border {
    border-color: var(--primary-color);
  }


  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }



  /* REACH OUT STYLES START */
.contact {
  background: #024e76;
}

.contact-info > * {
  flex: 1;
  margin: 15px;
}

.contact h2 {
  color: var(--secondary-color);
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info iframe {
  width: 400px;
  height: 400px;
}

.contact-info div {
  color: white;
}

.contact-info h3 {
  color: var(--secondary-color);
  font-size: 32px;
}

.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}

.contact-info a {
  color: var(--secondary-color);
}

.flex-row {
  display: flex;
}


/* WORK STYLES BEGIN */
.work {
  background:whitesmoke; 
}


.work-grid-container {
  background: white;
  width: 80%;
  display: grid;
  /* repeat(iterator, size) */
  grid-template-columns: 1fr repeat(2, 3fr);
  grid-template-rows: 1fr repeat(2, 3fr);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 1.2rem;
}


.work-grid-item-one {
  grid-column: 1 / span 2;
  grid-row: 1 / span 3 
  padding: 15px 0;
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} 

.work-grid-item-two {
  grid-column: 1 / span 2;
  grid-row: 1 / -2
  padding: 15px 0;
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.work-grid-item-three {
  grid-column: 1 / span 2;
  grid-row: 1 / -2
  padding: 15px 0;
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.work-grid-item-four {
  grid-column: 1 / span 2;
  grid-row: 1 / -2
  padding: 15px 0;
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.work-grid-item-five {
  grid-column: 1 / span 2;
  grid-row: 1 / -2
  padding: 15px 0;
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
